## in this notebook we are going to address the assignment problem which is an operation research problem 

description of the problem:
there are 5 workers and 4 tasks and each task should assign to one worker during this we are going to reduce the cost of completing jobs.

this is linear programming and we are going to use cplex in order to solve this problem

In [2]:
# import relevant libraries
import cplex 
import docplex.mp
from docplex.mp.model import Model

In [3]:
# make instance of our model
model=Model(name='assignmentProblem')

In [15]:
# explore our data a little bit
import numpy as np
import pandas as pd
costs = [
    [90, 80, 75, 70],
    [35, 85, 55, 65],
    [125, 95, 90, 95],
    [45, 110, 95, 115],
    [50, 100, 90, 100],
]
data_array=np.array(costs)
data=pd.DataFrame(data_array.T,columns=['worker 1','worker 2','worker 3','worker 4','worker 5'],index=['task 1','task 2','task 3','task 4'])
pd.Index.set_names='tasks'

In [16]:
data

        worker 1  worker 2  worker 3  worker 4  worker 5
task 1        90        35       125        45        50
task 2        80        85        95       110       100
task 3        75        55        90        95        90
task 4        70        65        95       115       100

In [20]:
num_workers=range(5)
num_tasks=range(4)

In [23]:
# time to create our variables
# they should be binary variables
x={}
for i in num_tasks:
    for j in num_workers:
        x[i,j]=model.binary_var(name='wor'+str(i)+str(j))

Warning: Duplicate variable name: wor00 already used for docplex.mp.Var(type=B,name='wor00')

In [25]:
len(x)

20

In [26]:
#let's make the constraints :)
for i in num_tasks:
    model.add_constraint(model.sum(x[i,j] for j in num_workers)==1)
for j in num_workers:
    model.add_constraint(model.sum(x[i,j] for i in num_tasks)<=1)

In [29]:
model.minimize(model.sum(x[i,j]*costs[j][i] for i in num_tasks for j in num_workers))

In [31]:
model.print_information()

Model: assignmentProblem
 - number of variables: 21
   - binary=21, integer=0, continuous=0
 - number of constraints: 9
   - linear=9
 - parameters: defaults
 - objective: minimize
 - problem type is: MILP

In [32]:
results=model.solve()

In [34]:
model.print_solution()

objective: 265
  wor03=1
  wor12=1
  wor21=1
  wor30=1

### it seems you can do all the task with just `256` dollars if you assign the `task 0` to `worker 3`, `task 1` to `worker 2`, `task 2` to `worker 1` and `task 3` to `worker 0`.